/* Use class selector */
.image {
    background-color: #f2f2f2;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 20px;
}

/* Use element selector */
p {
    color: green;
}
hr {
    margin: 20px 0;
}